body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    max-width: 960px;
    margin: 2rem auto;
}

.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.card {
    transition: transform 0.3s;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 4rem;
    text-align: center;
    padding: 1rem 0;
    background-color: #343a40;
    color: #ffffff;
}

.collection-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.collection-card:hover {
    transform: scale(1.05);
}

.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.spinner-border {
    vertical-align: -0.125em;
}

